//- views/emails/welcome.pug
doctype html
html
  head
    meta(charset='UTF-8')
    title= subject
  body
    p Hi #{firstName},
    p Welcome to our platform! We're glad to have you 🎉
    p Start exploring now!